  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('hidden');
    }
  </script>
  <nav class="flex justify-center items-center bg-blue-900 lg:px-4 py-4 px-1 lg:text-xl text-xs overflow-hidden">
    <div class="container px-3 lg:px-10 flex items-center justify-center">
      <!-- Icon to toggle sidebar -->
      <button onclick="toggleSidebar()" class="mr-2">
        <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <!-- Icon and Brand Name -->
      <div class="flex items-center space-x-1 lg:space-x-4">
        <a href="{% url "Recruiter Dashboard" %}">
          <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
          </svg>
        </a>
        <a href="{% url "Recruiter Dashboard" %}"><span class="text-white text-sm lg:text-lg font-bold opacity-0 absolute lg:opacity-100 lg:static">Marketplace</span></a>
      </div>

      <!-- Search Bar -->
      <div class="mx-4 lg:mx-10 flex items-center bg-blue-500 rounded-full text-black lg:w-1/2">
        <input
          type="text"
          placeholder="Search for anything..."
          class="w-full px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <button class="text-white hover:bg-blue-700 px-1 lg:px-4 py-2 rounded-lg transition-all duration-300">
          🔍
        </button>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="flex absolute top-0 left-0 z-50">
    <!-- Sidebar -->
    <div id="sidebar" class="hidden fixed lg:static inset-y-0 left-0 z-50 bg-blue-900 w-64 min-h-screen p-4 text-white">
      <div class="flex text-sm">
        <button onclick="toggleSidebar()">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
          </svg>          
        </button>
      </div>
      <ul class="mt-4 text-sm">
        {% if user.is_authenticated %}
        <li><a href="#" class="hover:bg-blue-300 block p-2 rounded">Logged In - {{user.username}}</a></li>
        <li><a href="{% url "Recruiter Dashboard" %}" class="hover:bg-blue-300 block p-2 rounded">Recruiter Dashboard</a></li>
        <li><a href="{% url "Recruiter Profile" %}" class="hover:bg-blue-300 block p-2 rounded">My Profile</a></li>
        <li><a href="{% url "Create Job" %}" class="hover:bg-blue-300 block p-2 rounded">Create Job</a></li>
        <li><a href="{% url "Recruiter Logout Page" %}" class="hover:bg-blue-300 block p-2 rounded">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>